@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-inter), var(--font-noto-thai), sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}